@model FuelEconomy.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Vehicle</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CityMilage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CityMilage" class="form-control" />
                <span asp-validation-for="CityMilage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CylindersId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CylindersId" class ="form-control" asp-items="ViewBag.CylindersId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Displacement" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Displacement" class="form-control" />
                <span asp-validation-for="Displacement" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DriveId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DriveId" class ="form-control" asp-items="ViewBag.DriveId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FuelCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FuelCost" class="form-control" />
                <span asp-validation-for="FuelCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FuelTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FuelTypeID" class ="form-control" asp-items="ViewBag.FuelTypeID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HighwayMilage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HighwayMilage" class="form-control" />
                <span asp-validation-for="HighwayMilage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MakeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MakeId" class ="form-control" asp-items="ViewBag.MakeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransmissionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TransmissionId" class ="form-control" asp-items="ViewBag.TransmissionId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VehicleClassId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VehicleClassId" class ="form-control" asp-items="ViewBag.VehicleClassId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
