@{
    ViewData["Title"] = "Home";
}
<style>
    .background-img {
        margin: 0px;
        padding: 0px;
        height: 580px;
        width: 100%;
    }

    .vfbuttons {
        display: flex;
        justify-content:center;
        height: 100%;
        justify-content:space-around;
    }

    .vfbuttons input {
        margin: auto;
        margin-top: 24px;
        height: 120px;
        width: 270px;
        font-size: 30px;
        font-family: 'Bauhaus 93';
        /*background-color:#9e3877;*/
        /*background-color: #dd4d50;*/
        /*background-color: #a7474e;*/
        background-color: #45a08e;
        color:#dbd6d6;
        box-shadow: gray 0px 2px 40px 2px;
        /*border: 3px solid #4c4b46;*/
        border: 3px solid #3c4745;
        border-radius: 15px;

       
        background-image: -webkit-linear-gradient(top, rgba(237,237,237, 0.2), rgba(153,153,153, 0.2));
        /*background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.8), rgba(153,153,153, 0.8));
        background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.8), rgba(153,153,153, 0.8));
        background-image: -o-linear-gradient(top, rgba(237,237,237, 0.8), rgba(153,153,153, 0.8));
        background-image: linear-gradient(top, rgba(237,237,237, 0.8), rgba(153,153,153, 0.8));*/
    }

     input:hover {
        /*background-color: #e266b3;*/
        background-color: #db8e8f;
        color: #4c4b46;
    }

     h1 {
         color: #dbd6d6;
         font-size: 72px;
         font-weight: bold;
         font-family: 'Bauhaus 93';
     }

     .front-p {
         color: #dbd6d6;
         font-size: 34px;
         font-family: 'Bauhaus 93';
     }

     .front-text {
         flex-flow: column;
         text-align: center;    
         align-content: center;
         justify-content: center;
         padding-top: 47px;
     }

</style>
<div class="background-img" style="background: dimgray url('/css/redemptystage.png'); background-size:cover; background-position:bottom; background-repeat: no-repeat;">
    <div class="front-text">
        <h1>AustinVenues</h1>
        <p class="front-p">Find something fun to do!</p>
    </div>
    
    <div class="vfbuttons">
        <form action="/Venues/Index"><input type="submit" value="Find A Venue"/></form>
        <form action="/Favorites/Index"><input type="submit" value="My Favorites"/></form>     
    </div>
</div>


